SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_REDIRECT_URI=http://localhost:8788/spotify/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

MYSQL_URL=mysql://user:password@localhost:3306/portfolio
HYPERDRIVE_ID=
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_MYSQL=mysql://user:password@localhost:3306/portfolio
